body {
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

ol {
    padding: 0;
    margin: 0;
}

li {
    margin: 0.5em 0;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    color: #333;
    text-decoration: none;
}

.link:hover {
    color: #2e14b0;
    text-decoration: underline;
}
